__pycache__
.venv/
.venv
.env
test.py
*.exe
C_Utils/csv_utils.o
.vscode/
*.pyc
.gitignore
.notes
data/*/*
!data/*/.gitkeep
.VSCodeCounter/2025-07-14_00-17-59/details.md
.VSCodeCounter/2025-07-14_00-17-59/diff-details.md
.VSCodeCounter/2025-07-14_00-17-59/diff.md
.VSCodeCounter/2025-07-14_00-17-59/diff.txt
.VSCodeCounter/2025-07-14_00-17-59/results.json
.VSCodeCounter/2025-07-14_00-17-59/results.csv
.VSCodeCounter/2025-07-14_00-17-59/results.txt
.VSCodeCounter/2025-07-14_00-17-59/results.md
.VSCodeCounter/2025-07-14_00-17-59/diff.csv
